@main("Ankit Tyagi - About") {

    @includes.navbar.render("about")

    <div class="container">
        <div class="featurette">
            <img class="featurette-image img-circle pull-right" data-src="holder.js/512x512">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        @includes.footer.render()
    </div>

}