@main("Ankit Tyagi - Contact") {

    @includes.navbar.render("contact")

    <div class="container">
        <div class="featurette">
            <img class="featurette-image img-circle pull-left" data-src="holder.js/512x512">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        @includes.footer.render()
    </div>

}